body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.pass {
    display: flex;
    justify-content:space-around;
    align-items: center;
    width: 15%;
}

button {
    margin: 2em;
}

p {
    margin: 1em;
}